body{ 
	background-color: #ececec;
	/*font-family: sans-serif;*/
}

body > section {
	display: inline-block;
    width: 100%;
    padding: 0 0 0 10px;
}

header > main {
	text-align: center;
	height: 100px;
}

header > main > figure ,header > main > h1 {
	float: left;
	margin: 0 0 0 4%;
	height: 100px;
	line-height: 100px;
}

header > main > figure > img {
	width:100px;
	height: 100px;
}

textarea {
	resize: none;
	overflow: scroll;
}

#areaCodigo {
	position: relative;
	float: left;
	width: 50%;
}

#areaCodigo > aside {
	overflow: hidden;
	padding-top: 2px;
	position: absolute;
    top: 24px;
    left: 16px;
    width: 30px;
    height: 410px;
}

#areaCodigo > aside > p {
	text-align: center;
    font-weight: bold;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
}

#areaCodigo > form  > fieldset > textarea {
	width: 100%;
	height: 410px;
	padding-left: 30px;
	font-size: 12px;
    line-height: 16px;
}

#areaResultados{
	width: 100% !important;
}
#areaCodigo > #areaResultados > fieldset {
	float: left;
	width: 100%;
	left: 20px;
}

#areaCodigo > #areaResultados > fieldset > textarea {
	width: 100%;
	height: 120px;
	font-size: 12px;
	line-height: 16px;
}

#areaAnalisis ,#areaAnalisis > article > article{
	display: inline-block;
	float: left;
	width: 50%;
	height: 447px;
	padding: 0 10px;
	
}


#areaAnalisis > article > article > fieldset {
	width: 100%;
	height: 100%;
	padding: 6px 10px 28px 10px;
	
}

#areaAnalisis > article > article > fieldset > textarea {
	width: 100%;
	height: 100%;
	font-size: 12px;
	line-height: 16px;
}

#botones5 >input{
	margin-right: 20px;
}

 #botones5 > #resultado-boton {
	border-radius: 5px;
	color: white;
	background-color: rgb(0, 140, 186);
	font-size: 20px;
	display: inline-block;
	float: left;
	margin-left: 10px;
}

#botones1> #analisisLexico-boton {
	border-radius: 5px;
	color: white;
	background-color: rgb(76, 175, 80);
	padding: 5px;
	font-size: 20px;
	display: inline-block;
	float: left;
	margin-left: 10px;
}

#botones5 > #borrar-boton {
	border-radius: 5px;
	color: white;
	background-color: rgb(86, 76, 175);
	padding-left: 15px;
	padding-right: 20px;
	font-size: 20px;
}

#botones5 > #ayuda-boton {
	border-radius: 5px;
	color: white;
	background-color: rgb(216, 14, 14);
	padding-left: 5px;
	padding-right: 20px;
	font-size: 20px;
}

#botones2> #analisisSintactico-boton {
	border-radius: 5px;
	color: white;
	background-color: rgb(76, 175, 80);
	padding: 5px;
	font-size: 20px;
	display: inline-block;
	float: left;
	margin-left: 10px;
}

#botones3> #analisisSemantico-boton {
	border-radius: 5px;
	color: white;
	background-color: rgb(76, 175, 80);
	padding: 5px;
	font-size: 20px;
	display: inline-block;
	float: left;
	margin-left: 10px;
}

#botones4> #tablaSimbolos-boton {
	border-radius: 5px;
	color: white;
	background-color: rgb(76, 175, 80);
	padding: 5px;
	font-size: 20px;
}

#menuContainer {
	position: fixed;
	bottom: 0px;
	right:0px;
	width: 400px;
	height: 170px;
}
#menuContainer > #relativo {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
}
#menuContainer > #relativo > div{
	position: absolute;
	bottom: 0px;
	right:0px;	
}
#menuContainer > #relativo > .oPmenu{
	display: none;
	background-color: rgba(0,0,0,0.8);
	opacity: 0;
	width: 175px;
	height: 65px;
	font-family: sans-serif;
	font-size: 14px;
	color: #ececec;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	-moz-box-shadow: -5px -5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: -5px -5px 5px rgba(68,68,68,0.6);
	box-shadow: -5px -5px 5px rgba(68,68,68,0.6);
	-webkit-transition: ease-in-out 0.1s; /* For Safari 3.1 to 6.0 */
  	transition: ease-in-out 0.1s;
}
#menuContainer > #relativo > .oPmenu:hover{
	-moz-box-shadow: -5px -5px 25px rgba(68,68,68,0.6);
	-webkit-box-shadow: -5px -5px 25px rgba(68,68,68,0.6);
	box-shadow: -5px -5px 25px rgba(68,68,68,0.6);
}
#menuContainer  > #relativo > #overMenu{
	z-index: 10;
	height: 75px;
	width: 180px;
	padding: 14px;
	overflow: hidden;
}
#menuContainer  > #relativo > #overMenu > #menu {
	display: inline-block;
	width: 335px;
    height: 150px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.8);
	cursor: pointer;
	-moz-box-shadow: -5px -5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: -5px -5px 5px rgba(68,68,68,0.6);
	box-shadow: -5px -5px 5px rgba(68,68,68,0.6);
	-webkit-transition: ease-in-out 0.1s; /* For Safari 3.1 to 6.0 */
  	transition: ease-in-out 0.1s;
}
#menuContainer  > #relativo > #overMenu > #menu:hover {
	-moz-box-shadow: -5px -5px 25px rgba(68,68,68,0.6);
	-webkit-box-shadow: -5px -5px 25px rgba(68,68,68,0.6);
	box-shadow: -5px -5px 25px rgba(68,68,68,0.6);
}

#menuContainer  > #relativo > #overMenu > #menu > p{
	margin: 25px 0 0 92px;
    font-size: 24px;
    font-weight: bold;
    color: #ececce;
    -webkit-transition: ease-in-out 0.1s; /* For Safari 3.1 to 6.0 */
  	transition: ease-in-out 0.1s;
    
}
#menuContainer  > #relativo > #overMenu > #menu:hover > p {
	font-size: 40px;
    margin: 18px 0 0 85px;
}
#menuContainer > #relativo > #t1{
	z-index: 9;
	top: 0; 
	right: 1px;
	padding: 15px;
	line-height: 17px;
}
#menuContainer > #relativo > #t2{
	z-index: 8;
	top: 41px;
	left: 72px; 
	padding: 15px;
	line-height: 34px;
}
#menuContainer > #relativo > #t3{
	z-index: 7;
	top: 104px; 
	left: 0;
	padding: 15px;
	line-height: 17px;
}

#slide1, #slide3{
	display: none;
}

/*
#areaCompilacion,#areaErrores {
	height: 217px;
	border: 1px black solid;
	margin-top: 7px;
}
*/
/*
#areaErrores{
}
*/

@media screen and (min-width: 400px) and (max-width: 600px) {
	#areaCodigo, #areaAnalisis {
		width: 100%;
	}
}
@media screen and (min-width: 600px) and (max-width: 930px) {
	#areaCodigo {
		width: 60%;
	}
	#areaAnalisis {
		width: 40%;
	}
	#areaAnalisis > article > article{
		width: 100%;
	}
}